{% extends 'base.html.twig' %}

{% block title %}Добавление ГТД{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('shop.gtd', {'page' : app.session.get('page/shopGtd')|default(1)}) }}">ГТД</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/shop/shopGtd/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}