{% extends 'base.html.twig' %}

{% block title %}Добавление карточки детали{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('card.parts', {'page' : app.session.get('page/zapCards')|default(1)}) }}">Номенклатура</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/card/parts/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}