{% extends 'base.html.twig' %}

{% block title %}Добавление причины отказа{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('shop.deleteReasons') }}">Причины отказа</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/shop/deleteReasons/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}