#AddHandler application/x-httpd-ea-php72 .php

RewriteEngine on

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Если запрос не начинается с public, добавляем его
RewriteCond %{REQUEST_URI} !^/(public)
RewriteRule ^(.*)$ /public/$1