{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'fromSelectedItemsSubmit(event, this)', 'data-no-check-selected-item' : '1'}, 'action': path('order.check.advance.update', {'id': userBalanceHistory.id}) }) }}


<p>Если Вы печатаете чек с накладной, воспользуйтесь разделом "<a href="/orders/checks/?userID=">Чеки</a>"</p>

{{ form_row(form.zapSkladID) }}

<div class="text-right">
    <button type="submit" class="btn btn-primary">Печать</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>
{{ form_end(form) }}


