{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'searchUser(event, this)'}, 'name': 'formAddOrder', 'action': path('orders.create.search') }) }}

<div class="row form-group">
    <div class="col">{{ form_row(form.phonemob, {'id': 'form_add_order_phonemob'}) }}</div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    </div>
</div>

{{ form_end(form) }}

<div id="search_results"></div>

<script>
    document.getElementById('form_phonemob_phonemob').focus();
    function searchUser(event, form) {
        event.preventDefault();
        const el = form.elements['form[phonemob][phonemob]'];
        let url = '{{ path('orders.create.search', {'phonemob': '#phonemob#'}) }}';
        url = url.replace(encodeURIComponent('#phonemob#'), encodeURIComponent(el.value));
        One.modalSpinnerOn('#modalForm');
        getHtmlFromAjax(url, document.getElementById('search_results'));
    }
</script>