{% extends 'base.html.twig' %}

{% block title %}Добавление группы шаблонов{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('template.groups') }}">Группы шаблонов</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/users/templateGroups/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}