{% extends 'base.html.twig' %}

{% block title %}Добавление единицы измерения{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('card.measures') }}">Единицы измерения</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/card/measures/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}