{% extends 'base.html.twig' %}

{% block title %}Добавление веса{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a
                href="{{ path('weights', {'page' : app.session.get('page/weight')|default(1)}) }}">Веса</a>
    </li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/detail/weights/_form.html.twig') }}
{% endblock %}