<br><br><br><br><br><br><br><br>
<div style="text-align: center; font-size: 10px;">
    <strong><em>Убедительная просьба, в назначении платежа указывать:<br>
            Оплата по счету №{{ document_num }} от {{ document_date|date('d.m.Y') }} за
            комплектующие материалы<br>
            <br>
            Уведомление об оплате - ОБЯЗАТЕЛЬНО!!!<br>
            <br>
            Счет действителен в течении 3-х банковских дней</em></strong>
</div>
