<li>
    <a class="text-dark media py-2">
        <div class="mr-2 ml-3">
            <i class="fa fa-fw fa-check-circle text-success"></i>
        </div>
        <div class="media-body pr-2">
            <div class="font-w600">Новых тикетов нет</div>
        </div>
    </a>
</li>