{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'fromSelectedItemsSubmit(event, this)'}, 'action': path('order.goods.perem.update') }) }}

{{ form_row(form.zapSkladID) }}

<div class="text-right">
    <button type="submit" class="btn btn-primary">Переместить</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>
{{ form_end(form) }}


