<a href="" data-toggle="modal" data-target="#modalForm"
   data-url="{{ path('order.user.comments.create.form', {'id': user.id}) }}"
   data-title="Добавить комментарий"
   class="pl-2 ajax-modal-html">
    <i class="fas fa-user" title="Клиент"></i>
</a>