{% extends 'base.html.twig' %}

{% block title %}Добавление группы меню{% endblock %}
{% block header %}Добавление группы меню{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('managers.groups') }}">Группы меню</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/menu/groups/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}