<th class="text-center" style="width: 50px;">
    <div class="custom-control custom-checkbox d-inline-block">
        <input type="checkbox" class="custom-control-input" id="check-all{{ numberOfPageForm|default('') }}" name="check-all">
        <label class="custom-control-label" for="check-all{{ numberOfPageForm|default('') }}"></label>
    </div>
</th>