{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'fromSelectedItemsSubmit(event, this)', 'data-no-check-selected-item' : '1'}, 'action': path('income.unpack.check') }) }}

{{ form_row(form.providerID) }}

<div class="text-right">
    <button type="submit" class="btn btn-primary">Перейти к сканированию</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>
{{ form_end(form) }}


