{% if 'discountPrice' not in hideCols %}
    <td class="text-right text-nowrap">{{ discountPrices[income.incomeID]|default(null) ? discountPrices[income.incomeID]|number_format(0, ',', ' ') : '' }}</td>
{% endif %}