{% extends 'base.html.twig' %}

{% block title %}Добавление дилерской цены{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a
                href="{{ path('dealer.prices', {'page' : app.session.get('page/shopPriceDealer')|default(1)}) }}">Дилерские цены</a>
    </li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/detail/dealer/_form.html.twig') }}
{% endblock %}