{% extends 'blocks/block_container_half.html.twig' %}
{% block header %}
    <div class="block-header block-header-default">
        <h3 class="block-title">Лог загрузки производителей</h3>
        <div class="block-options">

        </div>
    </div>
{% endblock %}
{% block content %}

    <div id="prices_log"></div>

{% endblock %}