{% extends 'base.html.twig' %}

{% block title %}Добавление должности{% endblock %}
{% block header %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('org.jobs') }}">Должности</a></li>
    <li class="breadcrumb-item">Добавление</li>
{% endblock %}

{% block body %}
    {{ include('app/firms/orgJobs/_form.html.twig', {'buttonName': 'Добавить'}) }}
{% endblock %}