{% extends 'blocks/block_container_half.html.twig' %}
{% block header %}
    <div class="block-header block-header-default">
        <h3 class="block-title">Баланс клиента</h3>
    </div>
{% endblock %}
{% block content %}
    <p><strong>Баланс клиента: {{ user.balance|number_format(2, ',', ' ') }} руб.</strong></p>
    <p>Сумма текущей отгрузки: <strong>{{ sum|number_format(2, ',', ' ') }} руб.</strong><br>
        {% if sum > user.balance %}
            Клиенту необходимо доплатить <strong>{{ (sum - user.balance)|number_format(2, ',', ' ') }} руб.</strong>
        {% else %}
            Клиенту ничего не нужно доплачивать
        {% endif %}
    </p>
{% endblock %}