{{ form_start(form, {'attr': {'id' : 'form_of_dateofdelivery', 'novalidate': 'novalidate', 'onsubmit': 'ajaxFormSubmit(event, this)'}, 'action': path('order.goods.dateOfDelivery.update', {'id': user.id}) }) }}

{{ form_row(form.dateofdelivery) }}

<div class="text-right">
    <button type="submit" class="btn btn-primary">Изменить</button>
    <button type="submit" class="btn btn-info" onclick="document.getElementById('form_dateofdelivery').value = ''">Очистить</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>
{{ form_end(form) }}


