{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'ajaxFormSubmit(event, this)'}, 'action': path('order.goods.reseller.update', {'id': expenseDocument.id}) }) }}

{{ form_row(form.reseller_id) }}

<div class="text-right">
    <button type="submit" class="btn btn-primary">Изменить</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>
{{ form_end(form) }}


