{% extends 'mail.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
    <div style="padding: 20px 0 0 20px;">
        <img src="cid:logo" width="300" height="54">

        <br><br>
        {{ text|raw }}
        <br><br>
        <div>
            <a href="https://api.whatsapp.com/send?phone=74956603630"><img src="cid:whatsapp" width="40" height="40"></a><a href="viber://chat?number=74956603630"><img src="cid:viber" width="40" height="40"></a><a href="https://vk.com/hondaworld"><img src="cid:vk" width="40" height="40"></a></a>
        </div>
    </div>

{% endblock %}
